[submodule "externals/libhttpserver"]
	path = externals/libhttpserver
	url = https://github.com/RipcordSoftware/libhttpserver.git
[submodule "externals/couchdb"]
	path = externals/couchdb
	url = https://github.com/apache/couchdb.git
[submodule "externals/libscriptobject"]
	path = externals/libscriptobject
	url = https://github.com/RipcordSoftware/libscriptobject.git
[submodule "externals/libjsapi"]
	path = externals/libjsapi
	url = https://github.com/RipcordSoftware/libjsapi.git
[submodule "externals/termcolor"]
	path = externals/termcolor
	url = https://github.com/ikalnitsky/termcolor.git
[submodule "externals/lazyflatset"]
	path = externals/lazyflatset
	url = https://github.com/RipcordSoftware/lazyflatset.git
[submodule "externals/gason"]
	path = externals/gason
	url = https://github.com/vivkin/gason.git
[submodule "externals/cityhash"]
	path = externals/cityhash
	url = https://github.com/google/cityhash.git
