[Unit]
Description=Daemon for AvanceDB
After=syslog.target

[Service]
WorkingDirectory=/usr/local/avancedb
ExecStart=/usr/local/avancedb/avancedb
Type=simple

[Install]
WantedBy=multi-user.target
