[Unit]
Description=Daemon for AvanceDB
After=syslog.target

[Service]
WorkingDirectory=/usr/local/share/avancedb
ExecStart=/usr/local/bin/avancedb
Type=simple
User=avancedb

[Install]
WantedBy=multi-user.target
